.contenthome{
    display: flex;
    flex-direction: column;
}
.contenthome img{
    margin-top: 150px;
    height: 400px;
    width: auto;
    display: flex;
    align-self: center;
    justify-self: center;
}